@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
    font-size: calc(0.75vw + 1vh);

}

body{
    font-family: 'Montserrat',sans-serif;
    line-height: 1.5;
    position: relative;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style: none;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.icon{
    width: 1.5rem;
    height: 1.5rem;
    fill: white;
}

.btn{
    display: inline-block;
    background-color: transparent;
    font-size: 1.2rem;
    padding: 0.5em 1em;
    border-radius: 5px;
    text-transform: uppercase;
    border: 2px solid #3498db;
    position: relative;
    z-index: 1;
    overflow: hidden;
      
    &::before{
        content: '';
        width: 100%;
        height: 100%;
        background-color: #3498db;
        position: absolute;
        display: block;
        top: 100%;
        left: 0;
        z-index: -1;
        border-radius: 30% 100% 0 0 ;
        left:-30%;
        transition: 800ms;
    }
    &::after{
        content: '';
        width: 150%;
        height: 300%;
        background-color: #3498db;
        position: absolute;
        display: block;
        top: 100%;
        left: 0;
        z-index: -1;
        border-radius: 100% 40% 0 0 ;
        left:-30%;
        transition: 1s;
    }

    &:hover::before{
        top:0;
    }
    &:hover::after{
        top:-100%;
    }
}

// NAVI

.navi{
    position: fixed;
    color: white;
    z-index: 3;
    width:20rem;
    height: 100vh;
    background-color: #3498db;
    transform: translateX(-100%);
    transition: 500ms cubic-bezier(0.215, 0.610, 0.355, 1);
    
    &__list{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        height: 100%;
        overflow: hidden;
    }


    &__link{
        font-size: 2rem;
        font-weight: 300;
        display: flex;
        width: 100%;
        flex: 1;
        justify-content: center;
        align-items: center;
        transition: 500ms;

        &:hover{
            background-color: #2980b9;
        }
    }
}

.header{
    min-height: 100vh;
    background-image: linear-gradient(rgba(black,0.6)),url(/img/bg.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    &__hero{
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    &__title{
        margin-bottom: 2rem;
    }

    &__main{
        font-size: 3rem;
        &::after{
            content: '';
            display: block;
            width: 5rem;
            height: 5px;
            background-color: white;
            margin: 1.5rem auto;
        }
    }

    &__sub{
        display: block;
    }
}

.nav{
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;

    margin: 0 auto;
    height: 10vh;
    width: 80%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &__menu{
        background-color: transparent;
        border: none;
    }

    &__logo{
        width: 5rem;
        height: 5rem;
    }
}



// STATE CLASSES

.openNavi{
    transform: translateX(0);
}